// main: ../css/style.scss
//photoshop
//#1a75c1
$primary-color: #2074bb;
//$secondary-color: #1b1c2d;
$secondary-color: #000629;
$rgb_seconday-color: rgba(0,0,41,0.8);

$tertiary-color: #004ec5;
$paleBlue-color: #9eb4e1;

$background: #f4f4f4;

$textColor: #333;

//$mainFont: 'Cabin', sans-serif;

// $mainFont: 'Ubuntu', sans-serif;

$mainFont: 'Source Sans Pro', sans-serif;



$xlarge: '1640px';
$large: '1400px';
$medium: '1024px';
